<script>
	var socket = io.connect('http://localhost/game');

	console.log('socket: ' + socket);

	socket.on('connect',function(data){
		console.log('created connection');
		socket.emit('join','{{this.id}}');
	});

	socket.on('enterRoom',function(data){
		console.log('somebody entered the room');
	});
</script>

<div id="actions">
	Hello, your pid is {{this.id}}
</div>