<script>
	var peer = new Peer('hi',{
		debug:3,
		logFunction: function() {
		    var copy = Array.prototype.slice.call(arguments).join(' ');
		    console.log(copy);
		  }
	});

	var connections = {};

	peer.on('open',function(id){
		$('#pid').text(id);
	})

</script>

<div id="actions">
	Hello, your pid is {{this.id}}
</div>